@import "../../../scss/variables";
@import "../../../scss/mixins";

.modal_background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(128, 128, 128, 0.705);
  z-index: 1;
  top: 0;
}

.modal {
  @include body-font(3vh);
  position: fixed;
  top: 10vh;
  bottom: 10vh;
  left: 20vw;
  right: 20vw;
  z-index: 2;
  background-color: $forestgreen;
  filter: drop-shadow(0 0 0.75rem rgb(51, 51, 51));
  padding: 2vw;
}
