@import "../../scss/variables";
@import "../../scss/mixins";

.home {
  @include body-font(3vh);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .gardenrunner {
    width: 100vw;
    height: 80vh;
    background: linear-gradient(
        rgba($forestgreen, 0.35),
        rgba($lightgreen, 0.95)
      ),
      url("./gardenrunner.png");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: contain, cover;
    // position: absolute;
  }

  .about_box {
    background-color: $forestgreen;
    filter: drop-shadow(0 0 0.75rem rgb(51, 51, 51));
    width: 90vw;
    height: 100vh;
    margin-top: -10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

h1 {
  @include heading-font(10vh);
}

h2 {
  @include heading-font(4vh);
}
