@import "./variables";

@mixin heading-font($size) {
  font-family: "Raleway", Sans-Serif;
  font-weight: lighter;
  font-size: $size;
  color: $offwhite;
}

@mixin body-font($size) {
  font-family: "Open Sans", Sans-Serif;
  font-size: $size;
  color: $offwhite;
}
